*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    background: linear-gradient(#21C08B, #AB88FF);
    font-family: Roboto;
    font-size: 62.5%;

}
body
{
    display: flex;
    flex-wrap: wrap;

}
.login
{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    

}
.header{
    
    width: 100%;
    height: 10rem;
}

.header-logo
{
    width: 11rem;
    height: 6rem;
}
.login-container
{

    background: linear-gradient(#21C08B, #AB88FF);
    border:2px solid white;
    -webkit-box-shadow: 17px 19px 34px -9px rgba(156,116,156,1);
    -moz-box-shadow: 17px 19px 34px -9px rgba(156,116,156,1);
    box-shadow: 17px 19px 34px -9px rgba(156,116,156,1);
    border-radius: 2.5rem;
    color:white;
    height:80vh;
    width: 25vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    margin: 0 30%;
}
.h2
{
    
    font-size:2.7rem;
    display: flex;
    align-items: center;
    width:18vw;
    height:17vh;

    margin-top: 4rem;
   

   

}
.login-form
{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    height: 30rem;
    width: 30vw;
 
    margin-top: 4rem;
}   
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0px 2rem;
    outline: none;
    height: 50px;
    color:white;
    width: 60%;
    height: 20%;
   
    
}
.input::placeholder
{
    color: white;
   
    
}
.login__container--remember-me
{   
    margin-top: 7rem;
 
    width: 70%;
    display: flex;
    align-items: space-around;
    justify-content: space-between;
}
.login__container--remember-me a
{
    text-decoration: none;
    color: white;
}
.login__container--remember-me a:hover
{
   
    text-decoration: underline;
    color: black;
}
.login__container--remember-me label
{
    
    color: white;
}
.btn    
{
    margin-top:rem;
    background-color: rgb(142 165 208);
    
    border-radius: 2rem;
    color:white;
    font-size: 3rem;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height:10rem;
    width: 60%;
    cursor: pointer;
}
footer    
{
    height: 9vh;
  
    width: 100%;
}
.tutorial
{
    display: flex;
    width: 40%;

}
.logof 
{
    width: 3rem;
}
.registro
{
    
    
    width: 70%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 4rem;
}
.registro img {
    display: flex;
    text-align: left;
    cursor: pointer;
    

}
.registro p {
    display:flex;
    text-align: left;
    cursor: pointer;
    width: 90%;
    padding-top: .5rem;
    padding-left: .6rem;
    
    
}